[submodule "speech_recognition"]
	path = speech_recognition
	url = https://github.com/Uberi/speech_recognition
[submodule "facenet_pytorch"]
	path = facenet_pytorch
	url = https://github.com/timesler/facenet-pytorch
